@import "tailwindcss";

@layer components {
    .flex-center {
        @apply flex items-center justify-center;
    }
    .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-around {
    @apply flex items-center justify-around;
  }
  .col{
    @apply flex-col;
  }

  .full{
    @apply w-full;
  }
}